<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <title>Login</title>

</head>
<body>
    <div class="container">
        <div class="login">
            <form th:action="@{/login}" method="post">
                <h1>Login</h1>
                <div th:if="${#bools.isTrue(param.error)}">
                    <p style="text-transform: none; color: var(--error); font-size: large">E-mail and/or password are incorrect.</p>
                </div>
                <input  type="text" name="username" placeholder="Username" required autofocus>
                <input  type="password" name="password" placeholder="Password" required>
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
        <img th:src="@{/images/separatorLight.png}" class="img"/>
    </div>
</body>
</html>